{% extends "layouts/base.html" %}
{% block content %}

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
          <div class="inner">
            <h3 class="masthead-brand">Django store</h3>
            <nav class="nav nav-masthead justify-content-center">
              <a class="nav-link active" href="#">Home</a>
              <a class="nav-link" href="#">Features</a>
              <a class="nav-link" href="#">Contact</a>
            </nav>
          </div>
        </header>
      
        <main role="main" class="inner cover">
          <h1 class="cover-heading">Django store</h1>
          <p class="lead">Application pour gerer materiel informatique</p>
          <p class="lead">
            <a href="{% url 'user:login' %}" class="btn btn-lg btn-secondary">Se connecter</a>
          </p>
        </main>
      
        <footer class="mastfoot mt-auto">
          <div class="inner">
            <p>Mini projet python 2019, Django store by Toavina, Naranja, David, Andrianina, ESTI L2 IDEV groupe 4</p>
          </div>
        </footer>
    </div>

{% endblock %}